<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archetype Quiz - Question 2</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div id="container">
        <div id="left-side"></div>
        <div id="right-side">
          <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
          <div id="right-side-text">
    <h1>Vraag <b>2</b> van de <b>3</b></h1>
    <form method="post">
        <label for="question_2">Met onbeperkte middelen, wat zou jouw droomproject zijn en hoe zou het de wereld verbeteren?</label>
        <input type="text" name="question_2" required>
        <button type="submit">Verder</button>
    </form>
</div>
</div>
</div>
</body>
</html>
